.btn{
	border:10px solid #093244;
	font-family: comic sans ms;
	font-size: 5rem;
	background-color: transparent;
	border-radius:20%;
	height: 9rem;
	width: 9rem;
	color:black;
}
.crash{
	background-image: url(images/snare.png);
}			
.kick{
	background-image: url(images/kick.png);
}
.snare{
	background-image: url(images/crash.png);
}
.tom1{
	background-image: url(images/tom1.png);
}
.tom2{
	background-image: url(images/tom2.png);
}
.tom3{
	background-image: url(images/tom3.png);
}
.tom4{
	background-image: url(images/tom4.png);
}
.shadow{
	box-shadow: 5px 10px 18px black;
}
